<!DOCTYPE html>
<html>
  <head>
  <title>Email Contact Form</title>
  </head>
  <body>
    <p>You have received an email from the site contact form, from <%= "#{ @name }, #{ @email }." %></p>
    <p><%= @body %></p>
  </body>
</html>