@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

header[role="banner"]{
  .navbar-header{
    
  }
  .banner-brand{
    img{
      
    }
  }
  > .container{
    position: relative;
    padding-bottom: 40px;
    padding-top: 40px;
  }
  .utility-nav {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1999;
    > ul {
      list-style: none;
      float: right;
      > li {
        float: left;
        margin-right:5px;
        > a {
          display: inline-block;
          padding: 8px 12px;
/*           @media (max-width: (@grid-float-breakpoint - 1)) {
            span {
              .sr-only();
            }
            .icon {
              font-size: 2em;
              // line-height: 1.2;
            }
          } */

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}

main div.container{
  div.well a.cool{
    -webkit-box-shadow:rgba(0, 0, 0, 0.0470588) 0 1px 1px inset;
    border:1px solid #E3E3E3;
    border-radius:4px;
    box-shadow:rgba(0, 0, 0, 0.0470588) 0 1px 1px inset;
    margin-bottom:20px;
    min-height:20px;
    padding:19px;
  }
}